<p>Results for research: {{ search }}</p>
Users
<table border="5" width=1000 >
        {% for user in users %}
            <tr  height=30px >
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }} </td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
<table>