<div class="pro post pics ad-mio">
    <div class="post-content">
        <a href="{{ path("_website_channel", {'stub' : 'shake-things-up'}) }}">{{ image_tag(asset('bundles/ologysocial/img/ads/mio/splash.jpg')) }}</a>
                
        <div class="large-overlay">
            Posted in <a href="{{ path("_website_channel", {'stub' : 'shake-things-up'}) }}">Shake Things Up</a>
        </div>
		
        <h3><a href="{{ path("_website_channel", {'stub' : 'shake-things-up'}) }}">How Alexander McQueen's Theatrics Changed Runway Shows Forever</a></h3>
    </div>
    <div class="show-comments">
        <a href="{{ path("_website_channel", {'stub' : 'shake-things-up'}) }}"><img src="{{ asset('bundles/ologysocial/img/comment.png') }}" style="vertical-align: text-top"> comment &raquo;</a>
         {#<a href="#" class="register-prompt-link"><img src="{{ asset('bundles/ologysocial/img/comment.png') }}" style="vertical-align: text-top"> comment &raquo;</a>
         {% include 'OlogySocialBundle:FrontEnd:register-prompt.html.twig'%}#}      
    </div>
</div>