    <div class="post fixed">
      <div class="post-content">
          <img src="{{ asset('bundles/ologysocial/img/news.png') }}" width="235" height="53">
          <div class="news-top">
            Get the latest news from Ology's team of editors:
          </div>
          <a href="/channel/film"><img src="{{ asset('bundles/ologysocial/img/channels/film.png') }}" width="50" height="50">Film</a>
          <a href="/channel/tv"><img src="{{ asset('bundles/ologysocial/img/channels/tv.png') }}" width="50" height="50">TV</a>
          <a href="/channel/music"><img src="{{ asset('bundles/ologysocial/img/channels/music.png') }}" width="50" height="50">Music</a>
          <a href="/channel/celebs"><img src="{{ asset('bundles/ologysocial/img/channels/celebs.png') }}" width="50" height="50">Celebs</a>
          <a href="/channel/fashion"><img src="{{ asset('bundles/ologysocial/img/channels/fashion.png') }}" width="50" height="50">Fashion</a>
          <a href="/channel/geek"><img src="{{ asset('bundles/ologysocial/img/channels/geek.png') }}" width="50" height="50">Geek</a>
          <a href="/channel/humor"><img src="{{ asset('bundles/ologysocial/img/channels/humor.png') }}" width="50" height="50">Humor</a>
          <a href="/channel/sports"><img src="{{ asset('bundles/ologysocial/img/channels/sports.png') }}" width="50" height="50">Sports</a>
          <a href="/channel/politics"><img src="{{ asset('bundles/ologysocial/img/channels/politics.png') }}" width="50" height="50">Politics</a>
      </div>
    </div>