<div id="reg-form-facebook">
    <h2>Almost there!</h2>
    <p>You've logged in with Facebook.<br /> We just need to send you a quick confirmation email.</p>
    
    <form action="{{ path('_website_facebook_register') }}" method="POST" {{ form_enctype(facebookRegisterForm) }}>
        {{ form_errors(facebookRegisterForm) }}
        {{ form_label(facebookRegisterForm.email) }}
        {{ form_widget(facebookRegisterForm.email) }}

        {{ form_rest(facebookRegisterForm) }}
        <input type="submit" value="Finish" class="signup-button" />
    </form>
</div>