<div id="comments">
    {% for comment in comments %}
    <div class="comment"> <a name="comments"></a>
    {% if loggedIn %}
        {% if comment.author.id == user.id %}
        <a href="{{ path("_comment_delete", {'id' : comment.id}) }}" class="delete-item">x</a>
        {% endif %}
    {% endif %}
        <div class="user-img">
            <a href="{{ path("_website_profile", {'id' : comment.author.id}) }}"><img src="{{ asset('bundles/ologysocial/up/img/user/user_small/' ~ comment.author.imageUrl) }}"></a>
        </div>
        <p style="padding-left:50px"><a href="{{ path("_website_profile", {'id' : comment.author.id}) }}">{{ comment.author.firstName }}</a> - {{ comment.content|nl2br() }}
            <span class="small">
                <br /> Commented <abbr class="timeago" title="{{comment.creationDate|date("c")}}"></abbr>
            </span>
        </p>
    </div>
    {% endfor %}

{#{% if loggedIn %}
    <div id="comment-form-{{postId}}" class="inline-comment-form">
    {% include 'OlogySocialBundle:Comment:inline_create.html.twig' with {'form' : commentForm} %}
    </div>
{% else %}
    {% include 'OlogySocialBundle:Comment:inline_create.html.twig' with {'form' : commentForm, 'showprompt' : true} %}
{% endif %}#}
</div>