
    Ology Password Reset Request
    <img src="{{ websiteUrl }}{{ asset('bundles/ologysocial/img/emailheader.jpg') }}" />
    <p>
    Hey {{ user.firstname }} {{ user.lastname}}, forgot your password? No worries, you can <a href="{{ confirmationUrl }}">reset it here</a>.
    <br/> <br/>
    (<i>And now a really bad joke...</i>)<br/>
    Us: Knock, Knock<br/>
    You: Who's there?<br/>
    Us: I forget<br/>
    You: Did you forget your password too?<br/>
    Us: Yes.
    </p>
    - The Ology Team.

